/* Style Guide*/
html header {
  font-family: "Baskerville Old Face", Candara, Calibri;
  letter-spacing: -1px;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center; }

/*  PARTIAL #2
    Contains: header refinement, image styling */
img {
  border-style: none; }

h1 {
  font-size: 2.5rem;
  margin-bottom: 0px; }

h2 {
  font-size: 1.6rem;
  margin: 0px;
  padding: 0px; }

/* global variables */
/* PARTIAL #1 - Interactives
    Contains styling for: form, form parts, results, nav & nav toggle
*/
#form {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: auto;
  padding: 5px;
  text-align: center;
  background-color: #e3e3e3;
  font-size: 1.6rem; }
  #form p {
    margin: 3px; }

#search {
  height: 35px;
  width: 75%;
  text-align: center;
  margin: 5px;
  margin-left: auto;
  margin-right: auto;
  border: 3px black solid; }

#searchBtn {
  border: none;
  background-color: white;
  font-size: 1.2rem;
  padding: 4px;
  height: 25%;
  width: 25%;
  max-width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  margin-bottom: 8px;
  cursor: pointer; }

#results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px;
  text-align: left;
  float: left;
  background-color: white;
  font-size: 1.2rem; }
  #results h1 {
    font-size: 1.6rem;
    margin: 5px; }
  #results h2 {
    font-size: 1.2rem;
    margin: 2px;
    margin-left: 5px; }

article {
  border: 2px dashed black;
  background-color: #e3e3e3;
  margin: 3px;
  max-width: 500px; }
  article p {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    margin-left: 5px; }

nav ul li a:hover {
  border: 3px solid black;
  color: blue; }

.active {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  color: blue; }

#mobileNavToggle {
  display: none; }

#navToggle {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px; }

@media only screen and (max-width: 800px) {
  #mobileNavToggle {
    margin-top: 10px;
    display: block; }
  nav {
    text-align: center;
    margin-left: none;
    margin-right: 5px;
    width: 100px;
    float: right;
    position: relative;
    bottom: 85px; }
  ul {
    list-style-type: none;
    margin: 1px;
    padding: 0px;
    display: none; }
    ul li {
      padding: 5px;
      margin-top: 2px;
      height: 25px;
      width: 75px;
      float: right; }
  nav ul li a {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    color: black;
    padding: 5px;
    text-decoration: none;
    background-color: white; }
  .openMobileNav {
    position: absolute;
    float: right;
    display: block; }
  #results {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5px;
    margin-top: 10px; }
  article {
    max-width: 100%; }
  /* End of mobile media rules */ }

@media only screen and (min-width: 801px) {
  nav {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 500px; }
    nav ul {
      list-style-type: none;
      margin: 10px;
      margin-left: 0px;
      display: inline-block; }
      nav ul li {
        float: left;
        padding: 5px;
        height: 25px;
        width: auto; }
  nav ul li a {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    background-color: white; } }

html {
  background-color: #d3c9b3;
  font-family: "Kannada Sangam MN", "Andale Mono", Arial, Calibri; }
  html header {
    background: linear-gradient(#626262, #d3c9b3);
    height: 200px;
    width: 100%;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px; }
    html header h1 {
      margin: 5px; }
