/* Style Guide*/
@import 'partials/_extend';
@import 'partials/_partialStyles';
@import 'partials/_variables';
@import 'partials/_interactiveDesign';

html {
	background-color: $primary-color;
	font-family: $font-stack;
	header {
        @extend %Title-Font;
        //background-color: $tertiary-color;
        background: linear-gradient($tertiary-color, $primary-color);
        height: 200px;
        width: 100%;
	    text-align: center;
	    margin-left: auto;
        margin-right: auto;
        h1 {
            margin: 5px;
        }
    }
}

#search {
    height: 35px;
    width: 400px;
    text-align: center;
    margin: 5px;
    margin-left: 23%;
    border: 3px black solid;
}

#searchBtn {
    border: none;
    background-color: white;
    font-size: $standard-font;
    padding: 4px;
    margin-left: 37%;
    margin-top: 8px;
    margin-bottom: 8px;
    height: 25%;
    width: 25%;
    cursor: pointer;
}