/* Style Guide*/
@import 'partials/_extend';
@import 'partials/_partialStyles';
@import 'partials/_variables';
@import 'partials/_interactiveDesign';

html {
	background-color: $primary-color;
	font-family: $font-stack;
	header {
        @extend %Title-Font;
        //background-color: $tertiary-color;
        background: linear-gradient($tertiary-color, $primary-color);
        height: 200px;
        width: 100%;
	    text-align: center;
	    margin-left: 5px;
        margin-right: 5px;
        h1 {
            margin: 5px;
        }
    }
}